*{  
    margin:0;
    padding:0;
  }

  body{  
    background-color:rgb(177, 177, 177);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  header{
      background-color: rgba(71, 65, 65, 0.74);
      height: 70px;
      text-align: center;
  }

  header h1{
    padding: 10px;
    color: white;
  }

.datos{
  background-color: rgba(216, 216, 216, 0.74);
  width: 80%;
  height: 500px;
  margin: 10px auto;
}

.Mostrar{
  margin: 10px 10px;
  padding: 15px;
  color: white;

  border: none;
  background-color: rgba(136, 211, 198, 0.89);
}

.Mostrar:hover{
  margin: 10px 10px;
  padding: 15px;
  border: none;
  background-color: rgba(78, 124, 150, 0.89);
}

.tabla{
  margin: 10px auto;
  background-color: rgba(211, 255, 253, 0.699);
  width: 90%;
  border-radius: 3px;
  text-align: center;
}



